.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu-buttons {
  background-color: darkred;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.main-menu-button {
  background-color: darkgray;
  width: 40%;
  margin: 5px;
}
