.main-menu {
    display: flex; 
    justify-content: center;
    align-items: center;    
    height:100vh;
}
.main-menu-buttons {
    background-color: darkred;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.main-menu-button {
    background-color: darkgray;
    width: 90%;    
    margin: 10px;
}