#light-mountain {
    fill:rgb(137,199,101)
}
#normal-mountain {
    fill:rgb(98,167,59)
}
#dark-mountain {
    fill:rgb(87,152,53)
}
#very-dark-mountain {
    fill:rgb(64,121,39)
}
#light-forest {
    fill:rgb(63,175,70)
}
#dark-forest {
    fill:rgb(6,154,46)
}